
(setq mypath "absolute-path-to-the-coq-dir-in-safeqc-ending-with-a-backslash") 

(setq coq-prog-name "coqtop")

(setq coq-prog-args 
      `("-emacs-U" 
        "-I" ,(concat mypath "lib") 
        "-I" ,(concat mypath "common")
        "-I" ,(concat mypath "tmu")
        "-I" ,(concat mypath "tmu/amach")
        "-I" ,(concat mypath "tmu/cmach")
        "-I" ,(concat mypath "tmu/amach_ni")
        "-I" "."))